* {
    margin: 0px;
    padding: 0px;
}

body {
    background: radial-gradient(closest-side, rgb(46, 65, 114), rgb(79, 98, 142), rgb(120, 135, 171)) no-repeat;
    background-repeat: no-repeat;
}

main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
        "head head"
        "icon1 icon1"
        "cityName cityName"
        "weatherDescription weatherDescription"
        "searchContainer searchContainer"
        "searchButton searchButton"
        "dropDown dropDown"
        "detail1 value1"
        "detail2 value2"
        "detail3 value3"
        "detail4 value4"
        "detail5 value5";
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.header {
    justify-self: center;
    align-self: center;
    font-family: Impact, sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-shadow: black 2px 2px 3px;
    grid-area: head / head;
}

#iconImage {
    height: 80px;
    width: 80px;
}

.icon-container {
    justify-self: center;
    align-self: center;
    grid-area: icon1 / icon1;
}

#cityName {
    justify-self: center;
    align-self: end;
    font-family: Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    grid-area: cityName / cityName;
}

#weatherDescription {
    justify-self: center;
    align-self: start;
    font-family: Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    grid-area: weatherDescription / weatherDescription;
}

#searchContainer {
    justify-self: center;
    align-self: center;
    font-family: "Trebuchet MS", sans-serif;
    color: rgb(255, 255, 255);
    grid-area: searchContainer / searchContainer;
}

#searchInput {
    height: 25px;
    width: 250px;
    border-radius: 7px;
}

.searchButton {
    justify-self: center;
    align-self: start;
    grid-area: searchButton / searchButton;
}

#searchBtn {
    padding: 15px 25px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(36, 88, 141);
    border: none;
    border-radius: 15px;
  }
  
  #searchBtn:hover {
      background-color: rgb(23, 75, 128);
    }
  
  #searchBtn:active {
    background-color: rgb(36, 88, 141);
    box-shadow: 0 1px #fff;
    transform: translateY(4px);
  }

.detail-name1 {
    justify-self: center;
    align-self: center;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    grid-area: detail1;
}

.detail-name2 {
    justify-self: center;
    align-self: center;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    grid-area: detail2;
}

.detail-name3 {
    justify-self: center;
    align-self: center;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    grid-area: detail3;
}

.detail-name4 {
    justify-self: center;
    align-self: center;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    grid-area: detail4;
}

.detail-name5 {
    justify-self: center;
    align-self: center;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    grid-area: detail5;
}

.value1 {
    justify-self: center;
    align-self: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    grid-area: value1;
}

.value2 {
    justify-self: center;
    align-self: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    grid-area: value2;
}

.value3 {
    justify-self: center;
    align-self: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    grid-area: value3;
}

.value4 {
    justify-self: center;
    align-self: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    grid-area: value4;
}

.value5 {
    justify-self: center;
    align-self: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    grid-area: value5;
}